{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}
{% block stylesheets %}
<style>.card {
  border: none !important;
}</style>
{% endblock %}
{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('js/app') }}
{% endblock %}