{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<p>Je suis la category {{ category.name}}</p>

{% for article in articles %}
     {% if article.category == category.name %}
        <p>{{ article.name }}, je vais parti de la category {{article.category}}</p>
     {% endif %}
{% endfor %}
{% endblock %}
