{% extends 'base.html.twig' %} {% block title %}New cate{% endblock %} {%
    block body %}
    <h1 class="text-center">Modifier</h1>
    
    <div class="container">
      {{ include("category/_form.html.twig") }}
    </div>
    
    {% endblock %}
    