{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1 class="text-center pt-3 pb-5">Article index</h1>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td class="d-inline-flex">
                    <a class="btn btn-success" href="{{ path('category_show', {'id': category.id}) }}">Voir</a> 
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune categories</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btn-block btn-lg text-center" href="{{ path('category_new') }}">Création d'un nouveau article</a>
{% endblock %}
